//Fonts
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Raleway", sans-serif;

$primary-color: #2b3844;
$primary-color-overlay: #2528309d;
$secondary-color: #736364;
$light-color: #c7cdd0;
$dark-color: #000;
//consider grid
.about-containers {
  height: 304px;
}

//About Page

.item {
  border: 5px solid $secondary-color;
}
//Top Section
#top-container {
  display: flex;
  width: 100%;
  font-size: 3.6rem;

  .top-item-container {
    display: flex;
    position: absolute;
    width: 84%;
    .top-item {
      width: 360px;
      height: 250px;
      justify-content: space-evenly;
      margin: 0 auto;
      color: $primary-color;
      background-color: $light-color;
      border-radius: 30px;
      padding: 10px;
      z-index: 2;

      &:hover {
        opacity: 0;
      }
    }
  }

  .top-flip-container {
    display: flex;
    position: absolute;
    width: 84%;

    .flip-item {
      width: 360px;
      height: 250px;
      justify-content: space-evenly;
      margin: 0 auto;
      color: $primary-color;
      background-color: $light-color;
      border-radius: 30px;
      padding: 10px;
      font-size: 1rem;

      z-index: 1;
      &:hover {
        .top-item {
          opacity: 0;
        }
      }
    }
  }
}

//Center Section
#middle-container {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 34%;
  left: 51%;
  color: $primary-color;
  background-color: $light-color;
  z-index: 3;
  h2 {
    font-size: 10rem;
    position: relative;
    bottom: 126px;
    right: 3px;
  }
}

//bottom container
#bottom-container {
  display: flex;

  font-size: 3.6rem;
  position: absolute;
  bottom: 0;
  width: 84%;

  .bottom-item-container {
    display: flex;
    position: absolute;

    width: 100%;
    .bottom-item {
      width: 360px;
      height: 250px;
      justify-content: space-evenly;
      margin: 0 auto;
      color: $primary-color;
      background-color: $light-color;
      border-radius: 30px;
      padding: 10px;
      z-index: 2;

      &:hover {
        opacity: 0;
      }
    }
  }

  .bottom-flip-container {
    display: flex;
    position: absolute;

    width: 100%;
    .flip-item {
      width: 360px;
      height: 250px;
      justify-content: space-evenly;
      margin: 0 auto;
      color: $primary-color;
      background-color: $light-color;
      border-radius: 30px;
      padding: 10px;
      font-size: 1rem;

      z-index: 1;
      &:hover {
        .top-item {
          opacity: 0;
        }
      }
    }
  }
}
