@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Open+Sans&display=swap");
#top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 3.6rem;
  color: #fff;
}

.top-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 85%;
  overflow: hidden;
  height: 260px;
}

.top-item-container .cloud-wrapper {
  position: relative;
  top: -53px;
  left: -25px;
  height: 330px;
  width: 550px;
  z-index: 2000;
}

@media screen and (max-width: 1210px) {
  .top-item-container .cloud-wrapper {
    top: -36px;
  }
}

.top-item-container .cloud-wrapper .cloud-group {
  z-index: 1000 !important;
  opacity: 0.1;
  position: relative;
  top: 140px;
  left: -18px;
  height: 200px;
  width: 200px;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

@media screen and (max-width: 1780px) {
  .top-item-container .cloud-wrapper .cloud-group {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@media screen and (max-width: 1210px) {
  .top-item-container .cloud-wrapper .cloud-group {
    -webkit-transform: scale(1);
            transform: scale(1);
    left: -50px;
  }
}

@media screen and (max-width: 772px) {
  .top-item-container .cloud-wrapper .cloud-group {
    display: none;
  }
}

.top-item-container .cloud-wrapper .cloud-group .a {
  position: relative;
  height: 150px;
  top: 31px;
  width: 150px;
  border-radius: 50%;
  background-color: #c7cdd0;
  left: 152px;
}

.top-item-container .cloud-wrapper .cloud-group .b {
  position: relative;
  left: 82px;
  bottom: 76px;
  height: 84px;
  width: 96px;
  border-radius: 50%;
  background-color: #c7cdd0;
}

.top-item-container .cloud-wrapper .cloud-group .c {
  position: relative;
  left: 204px;
  height: 103px;
  bottom: 100px;
  width: 103px;
  border-radius: 50%;
  background-color: #c7cdd0;
}

.top-item-container .cloud-wrapper .cloud-group .d {
  position: relative;
  left: 108px;
  bottom: 241px;
  height: 120px;
  width: 149px;
  border-radius: 50%;
  background-color: #c7cdd0;
  -webkit-transform: rotate(-46deg);
          transform: rotate(-46deg);
}

.top-item-container .cloud-wrapper .cloud-group .e {
  position: relative;
  left: 192px;
  bottom: 426px;
  height: 145px;
  width: 155px;
  border-radius: 50%;
  background-color: #c7cdd0;
}

.top-item-container .cloud-wrapper .cloud-group .f {
  position: relative;
  left: 104px;
  bottom: 587px;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  background-color: #c7cdd0;
}

.top-item-container .cloud-wrapper .cloud-group .g {
  position: relative;
  left: 186px;
  bottom: 713px;
  height: 72px;
  width: 74px;
  border-radius: 50%;
  background-color: #c7cdd0;
}

.top-item {
  width: 263px;
  font-size: 3vw;
  position: relative;
  left: 163px;
  height: 90px;
  top: -31px;
  color: #fff;
  background-color: transparent;
  border-radius: 30px;
  z-index: 2005 !important;
}

@media screen and (max-width: 1780px) {
  .top-item {
    text-align: center;
    left: 106px !important;
    top: 0;
  }
}

@media screen and (max-width: 1210px) {
  .top-item {
    left: 42px !important;
  }
}

@media screen and (max-width: 772px) {
  .top-item {
    width: 100%;
    font-size: 2rem;
    top: 180px;
  }
}

@media screen and (max-width: 500px) {
  .top-item {
    left: 30px !important;
    font-size: 1.5rem;
  }
}

.learner-container {
  left: 197px;
}

.educator-container {
  left: 182px;
}

.paragraph-container {
  width: 70%;
  height: 300px;
  position: absolute;
  top: 42%;
  left: 22.5%;
  -webkit-transition: all ease-in 200ms;
  transition: all ease-in 200ms;
  text-align: left;
}

.paragraph-container .center {
  text-align: center;
}

.paragraph-container .flip-item {
  opacity: 1;
  position: absolute;
  background-color: rgba(78, 80, 82, 0.3);
  border-radius: 20px;
  margin: 0 auto;
  color: white;
  background: transparent;
  border-radius: 30px;
  padding: 10px;
  font-size: 1.5vw;
  z-index: 3000;
}

@media screen and (max-width: 1280px) {
  .paragraph-container .flip-item {
    font-size: 2vw;
  }
}

@media screen and (max-width: 772px) {
  .paragraph-container .flip-item {
    font-size: 1.2rem;
  }
}

.paragraph-container .show {
  display: block;
}

#middle-container {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 51%;
  color: #2b3844;
  background-color: #c7cdd0;
  z-index: 3;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
}

#middle-container h2 {
  font-size: 10rem;
  position: relative;
  right: 3%;
}

@media screen and (max-width: 1280px) {
  #middle-container {
    display: none;
  }
}

.hover-img {
  position: relative;
  bottom: 25px;
  left: 48%;
  z-index: 2000;
  font-size: 1rem;
}

@media screen and (max-width: 1210px) {
  .hover-img {
    bottom: 35px;
    left: 40%;
  }
}

@media screen and (max-width: 500px) {
  .hover-img {
    top: 43px;
    left: 50%;
    font-size: 0.8rem;
    color: #888;
  }
}
/*# sourceMappingURL=about.css.map */