@import "../breakpoints.scss";

// NAVBAR
.nav-container {
  position: sticky;
  background-image: url(../src/assets/texture6.jpg);
  background-size: cover;
  background-position: top left;
  width: 15%;
  z-index: 90000;

  color: $light-color;
  // box-shadow: 5px 8px 15px 0px #111;
  .overlay {
    position: sticky;
    width: 100%;
    height: 100vh;
    background-color: $primary-color-overlay;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  //nav-logo
  .logo-container {
    // margin-top: 25%;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1210px) {
      justify-content: unset;
    }

    @media screen and (max-width: 771px) {
      width: 168px !important;
      bottom: 5px !important;
      right: 10px !important;
    }
    @media screen and (max-width: 500px) {
      width: 168px;
      bottom: 5px;
    }
    img {
      width: 120%;
    }
    .tag-line {
      font-size: 1rem;
      text-align: center;
      font-style: italic;
      position: relative;
      bottom: 15px;
    }
  }

  //nav links
  .links-container {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // margin: 33% 0;
    padding-inline-start: 0px;

    @media screen and (max-width: 1210px) {
      position: relative;
      bottom: 70px;
    }

    .list-item {
      color: $light-color;
      width: 100%;
      text-align: center;
      margin: 15px 0;
      text-decoration: none;
      z-index: 9001;
      // display: flex;
      // height: 25px;
      // justify-content: space-around;
      .active {
        color: white;
        font-weight: 900;
      }
    }

    .About {
      animation-delay: 100ms;
    }
    .Work {
      animation-delay: 200ms;
    }

    .Contact {
      animation-delay: 300ms;
    }
    li:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  //nav-social
  .social-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    bottom: 0;
    background-color: $dark-color;
    color: $secondary-color;
    width: 100%;

    div {
      width: 24%;
      height: 50px;
      // margin: 5px;
      @media screen and (max-width: 1000px) {
        width: 50%;
      }

      a {
        color: $secondary-color;
      }

      .fab {
        position: relative;
        top: 36%;
        left: 31.5%;
        transform: scale(1.8);

        &:hover {
          color: $light-color;
        }
      }
    }
    .twitter {
      .fab {
        left: 33%;
      }
    }
  }
  //nav-copyright
  .copyright-info {
    position: fixed;
    bottom: 0;
    width: 18%;
    text-align: center;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1210px) {
  .tag-line {
    display: none;
  }
  .social-container {
    width: 50%;
  }
  .nav-container .links-container {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 900px) {
  .nav-container {
    position: absolute;
    width: 100%;
    height: 10%;
    .overlay {
      height: 100%;
      flex-direction: row;
    }

    //nav-logo
    .logo-container {
      width: 161px;
      position: relative;
      bottom: 14px;
      justify-content: unset;
      align-items: unset;
      img {
        width: 100%;
      }
      .tag-line {
        display: none;
      }
    }

    .links-container {
      flex-direction: row;
      width: 351px;
      font-size: 1.2rem;
      position: relative;
      top: 9px;
      right: 16px;
    }

    .social-container {
      display: none;
    }
  }
}
