//import
//font
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Open+Sans&display=swap");
@import "./Components/about.scss";
@import "./Components/slider.scss";
//Variables
//Colors
$primary-color: #2b3844;
$primary-color-overlay: #1f13138c;
$secondary-color: #646172;
$light-color: #c7cdd0;
$dark-color: #000;

//Fonts
$primary-font: "Exo", sans-serif;
$secondary-font: "Open Sans", sans-serif;
a {
  text-decoration: none !important;
  color: $light-color;
}

#root {
  display: flex;
  overflow: hidden;
  min-height: 969px;
}

ul {
  list-style-type: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  height: 100%;
}

//icon styles
i {
  color: $secondary-color;

  &:hover {
    color: $light-color;
    transition: all ease-in 300ms;
  }
}
h1,
h2,
h3,
h4,
h5,
li {
  font-family: $primary-font;
}

p {
  font-family: $secondary-font;
}

// NAVBAR
.nav-container {
  position: sticky;
  background-image: url(../src/assets/texture6.jpg);
  background-size: cover;
  background-position: top left;
  display: flex;
  flex-direction: column;
  width: 15%;
  z-index: 5;

  color: $light-color;
  box-shadow: 5px 8px 15px 0px #111;
  .overlay {
    position: sticky;
    width: 100%;
    height: 100%;
    background-color: $primary-color-overlay;
  }

  //nav-logo
  .logo-container {
    margin-top: 15%;
    width: 100%;
    min-height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 120%;
    }
    .tag-line {
      font-size: 1rem;
      margin-top: 5px;
      text-align: center;
      font-style: italic;
      position: relative;
      bottom: 40px;
    }
  }

  //nav links
  .links-container {
    margin-top: 16%;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0px;
    .list-item {
      color: $light-color;
      width: 100%;
      text-align: center;
      padding-bottom: 40px;
      margin-top: 15px;
      text-decoration: none;
      display: flex;
      height: 25px;
      justify-content: center;
      .active {
        color: white;
        font-weight: 900;
      }
    }

    .About {
      animation-delay: 100ms;
    }
    .Work {
      animation-delay: 200ms;
    }

    .Contact {
      animation-delay: 300ms;
    }
    li:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  //nav-social
  .social-container {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 94%;
    background-color: $dark-color;
    color: $secondary-color;
    width: 15%;

    div {
      width: 50px;
      height: 50px;
      margin: 5px;

      a {
        color: $secondary-color;
      }

      .fab {
        position: relative;
        top: 36%;
        left: 31.5%;
        transform: scale(1.8);

        &:hover {
          color: $light-color;
        }
      }
    }
    .twitter {
      .fab {
        left: 33%;
      }
    }
  }
  //nav-copyright
  .copyright-info {
    position: fixed;
    bottom: 0;
    width: 18%;
    text-align: center;
    font-size: 0.9rem;
  }
}

//Component Styles is twinkling

.components {
  color: $light-color;
  font-family: $primary-font;
  display: flex;
  flex-direction: column;

  p,
  h2 {
    font-family: $secondary-font;
  }
}

//HOME STYLES
.home-twinkle {
  height: 969px;
  width: 100%;
  background: url("./assets/stars.png") repeat top center;
  z-index: 3;
}
.home-content {
  position: absolute;
  width: 85%;
  height: 100vh;
  background-image: url("./assets/universe-1351865_1920.jpg");
  opacity: 0.5;
  background-color: $dark-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  z-index: 1000;
}

.home-text {
  text-align: left;
  position: absolute;
  top: 20%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 3000;
  h1 {
    font-size: 4rem;
    color: $light-color;
  }
  h2 {
    font-size: 2.5rem;
    color: $light-color;
  }
}

.content-container {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  float: right;
  background-color: $dark-color;
  overflow: hidden;
}

//Contact styles
.contact-form {
  z-index: 3;
  display: flex;
  position: absolute;
  top: 20%;
  left: 32%;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  background-color: $primary-color;
  border: 3px solid black;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 8px 20px 0px #111;

  h2 {
    width: 100%;
    padding: 30px 0 30px 0;
    border-bottom: 3px solid #000;
    text-align: center;
    background-color: #736364;
    margin-top: 0;
    color: $dark-color;
    font-size: 1.7rem;
  }

  input {
    width: 50%;
    background-color: $light-color !important;
    margin-bottom: 15px;
    background-color: $primary-font;
  }
  textarea {
    width: 50%;
    background-color: $light-color !important;
    margin-bottom: 15px;
    background-color: $primary-font;
  }
  label {
    margin-bottom: 5px;
    text-align: left;
    width: 50%;
    font-family: $secondary-font;
  }
  button {
    width: 100px;
    height: 35px;
    margin: 20px 0 30px 0;
    border-radius: 5px;
    padding: 10px 10px 27px 10px;
    font-family: $secondary-font;
    background-color: $secondary-color;
    display: inline-block;
    border: none;
    text-decoration: none;
    border: 1px solid black;
    color: $secondary-color;
    background-color: $light-color;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
      background: $secondary-color;
      color: $dark-color;
      transition: all ease-in 300ms;
    }
  }

  :nth-child(7) {
    height: 170px;
  }
}

//Background Stars and twinkle
.about,
.work,
.contact {
  background-image: url(./assets/stars.png);
  min-height: 969px;
  overflow: hidden;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(./assets/stars.png) repeat top center;
  z-index: 3;
}

.twinkling {
  background: transparent url(../src/assets/twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent url(./assets/clouds1.png) repeat top center;
  z-index: 2;
  animation: move-clouds-back 200s linear infinite;
  opacity: 0.35;
}
