@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap");
ul {
  list-style-type: none;
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

.App {
  background-color: #c7cdd0;
  color: #252830;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container {
  position: -webkit-sticky;
  position: sticky;
  background-size: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  width: 18%;
  height: 100vh;
  border-right: 1px solid #888;
  color: #252830;
  -webkit-box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.5);
}

.nav-container .overlay {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: #7363648a;
}

.nav-container .logo-container {
  margin-top: 15%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .logo-container img {
  width: 60%;
  background: #252830;
  border: 2px solid #252830;
  border-radius: 50%;
}

.nav-container .logo-container .tag-line {
  font-size: 1rem;
  margin-top: 10%;
  text-align: center;
}

.nav-container .links-container {
  margin-top: 20%;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  padding: 0 5px 28px 0;
}

.nav-container .links-container .list-item {
  color: #252830;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
  margin-top: 10px;
}

.nav-container .links-container .selected-link {
  float: right;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-right: 20px solid #3972a7;
  border-bottom: 12px solid transparent;
  position: absolute;
  top: 285px;
  left: 326px;
}

.nav-container .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 100%;
  background-color: #252830;
  color: #3972a7;
  width: 100.27%;
}

.nav-container .social-container div {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.nav-container .social-container div a {
  color: #3972a7;
}

.nav-container .social-container div .fab {
  position: relative;
  top: 36%;
  left: 31.5%;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

.nav-container .social-container div .fab:hover {
  color: #c7cdd0;
}

.nav-container .social-container .twitter .fab {
  left: 33%;
}

.nav-container .copyright-info {
  position: fixed;
  bottom: 0;
  width: 18%;
  text-align: center;
  font-size: 0.9rem;
}

.content {
  margin-left: 18.1%;
  width: 81.9%;
  height: 100vh;
  background-image: url("./assets/universe-1351865_1920.jpg");
  background-color: #252830;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  overflow: auto;
  top: 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .context-text {
  text-align: left;
  position: absolute;
  top: 20%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content .context-text h1 {
  font-size: 4rem;
  color: #c7cdd0;
}

.content .context-text h2 {
  font-size: 2.5rem;
  color: #c7cdd0;
}
/*# sourceMappingURL=index.css.map */