//Variables
//Colors
$primary-color: #e17718;
$primary-color-overlay: rgba(225, 118, 24, 0.75);
$secondary-color: #68cfb9;
$light-color: #f4f7e3;
$dark-color: #37353b;
//Fonts
$primary-font: "Lato", sans-serif;

ul {
  list-style-type: none;
}
body {
  margin: 0;
}

.App {
  background-color: $light-color;
  color: $dark-color;
  font-family: $primary-font;
}
// NAVBAR
.nav-container {
  position: sticky;
  background-image: url(../../img/old-map.png);
  background-size: 700px;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 18%;
  height: 100vh;
  border-right: 1px solid #888;
  color: $dark-color;
  box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.5);

  .overlay {
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: $primary-color-overlay;
  }

  //nav-logo
  .logo-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      width: 120px;
      height: 120px;
      background: $dark-color;
      border-radius: 50%;
      margin-top: 10px;
    }
    .tag-line {
      height: 15px;
      padding: 10px 0 0 0;
    }
  }

  //nav links
  .links-container {
    margin-top: 135px;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0px;
    padding: 0 5px 28px 0;

    .list-item {
      color: $dark-color;
      width: 100%;
      text-align: center;
      padding-bottom: 40px;
      margin-top: 10px;
    }

    .selected-link {
      float: right;
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-right: 20px solid $secondary-color;
      border-bottom: 12px solid transparent;
      position: absolute;
      top: 285px;
      left: 326px;
    }
  }

  //nav-social
  .social-container {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 100%;
    background-color: $dark-color;
    color: $secondary-color;

    width: 100.27%;

    div {
      width: 50px;
      height: 50px;
      margin: 5px;

      .fab {
        position: relative;
        top: 36%;
        left: 31.5%;
        transform: scale(1.8);

        &:hover {
          color: $light-color;
        }
      }
    }

    .twitter {
      .fab {
        left: 33%;
      }
    }
  }

  //nav-copyright
  .copyright-info {
    position: fixed;
    bottom: 0;
    width: 18%;
    text-align: center;
    font-size: 0.9rem;
  }
}

.content {
  margin-left: 20%;
  padding-left: 20px;
  width: auto;
  display: flex;
  position: absolute;
  overflow: auto;
  top: 0;
}
